{% extends 'admin/index.html.twig' %}

{% block title %}Liste des Slides !{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{{path('admin.slide.add')}}" role="button">Ajouter un Slide</a>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Nom du Slide
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    {% for slide in slides %}
        <tr>         
            <td>
                {{ slide.name }}
            </td>
            <td>
                <a href="{{path("admin.slide.editer", {id : slide.id})}}" class="btn btn-secondary">Editer</a>
                <a href="{{path("admin.slide.delete", {id : slide.id})}}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
